<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
    <div class="container" data-aos="fade-up">
        <div class="section-header">
            <h2>Contact</h2>
            <p>Need Help? <span>Contact Us</span></p>
        </div>
        <div class="row gy-4">
            {% for info in contacts_info %}
                <div class="col-md-6">
                    <div class="info-item  d-flex align-items-center">
                        <i class="icon bi bi-map flex-shrink-0"></i>
                        <div>
                            <h3>{{ info.item }}</h3>
                            <p>{{ info.value }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <form action="{% url 'cafe:home' %}" method="post" role="form" class="php-email-form p-3 p-md-4">
            {% csrf_token %}
            <div class="form-error">{{ form.non_field_errors }}</div>
            <div class="row">
                <div class="col-xl-6 form-group">{{ contact_form.name }}</div>
                <div class="col-xl-6 form-group">{{ contact_form.email }}</div>
            </div>
            <div class="form-group">
                {{ contact_form.subject }}
            </div>
            <div class="form-group">
                {{ contact_form.message }}
            </div>
            <div class="form-group">
                {{ contact_form.captcha }}
            </div>
            <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
            </div>
            <div class="text-center"><button type="submit">Send Message</button></div>
        </form>
    </div>
</section>