<footer id="footer" class="footer">
        <div class="container">
            <div class="row gy-3">
                <div class="col-lg-3 col-md-6 d-flex">
                    <i class="bi bi-geo-alt icon"></i>
                    <div>
                        {{ footer_items.address | safe }}
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 footer-links d-flex">
                    <i class="bi bi-telephone icon"></i>
                    <div>
                        <h4>Reservations</h4>
                        <p>
                            <strong>Phone:</strong>{{ footer_items.phone }}<br>
                            <strong>Email:</strong>{{ footer_items.email }}<br>
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 footer-links d-flex">
                    <i class="bi bi-clock icon"></i>
                    <div>
                        {{ footer_items.opening_hours | safe }}
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Follow Us</h4>
                    <div class="social-links d-flex">
                        <a href="{{ footer_items.twitter }}" class="twitter"><i class="bi bi-twitter"></i></a>
                        <a href="{{ footer_items.facebook }}" class="facebook"><i class="bi bi-facebook"></i></a>
                        <a href="{{ footer_items.instagram }}" class="instagram"><i class="bi bi-instagram"></i></a>
                        <a href="{{ footer_items.linkedin }}" class="linkedin"><i class="bi bi-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
    <div class="container">
    <div class="copyright">
        {{ footer_items.copyright_text | safe }}
    </div>
        <div class="credits">
            {{ footer_items.credits_text | safe }}
        </div>
    </div>
</footer>